
server:
  port: 9080

spring:
  datasource:
    url: jdbc:postgresql://postgres:5433/clinic_app
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

management:
  server:
    port: 8180
  endpoints:
    web:
      exposure:
        include: "*"

jwt:
  secret-key: "SEVMTE8gV09STEQgR1ZUIHRva2VuIGFuZCBuZXcgcHJvdG9jb2w="
  access-token:
    lifetime-minutes: 5