
server:
  port: 9080

spring:
  datasource:
    url: jdbc:postgresql://postgres:5433/clinic_app
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      host: redis
      port: 6379
      timeout: 60000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0

management:
  server:
    port: 8180
  endpoints:
    web:
      exposure:
        include: "*"

jwt:
  secret-key: ${JWT_SECRET_KEY}
  access-token:
    lifetime-minutes: 15
  refresh-token:
        lifetime: 7d